body {
  margin: 0;
  font-family: 'Poppins';font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 2rem;
}


.foundation {
  margin: 5rem auto 0 auto;
  margin-top: 2rem;
  /* border: 1px solid black; */
  width: fit-content;
}

.title-form {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin: 0.2rem;
}

.label-form {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.text-form {
  margin-top: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
}


.btn-form {
  text-align: center;
  margin-top: 2rem;
  background-color: #484848;
  color: white;
  height: 2.5rem;
  width: 100%;
  font-weight: bolder;
}

.success-message {
  color: rgb(91, 206, 91);
  text-align: center;
  margin-top: 2rem;
  background-color: #484848;
  height: 2.5rem;
  width: 100%;
  font-weight: bolder;
}

.fail-message {
  color: red;
  text-align: center;
  margin-top: 2rem;
  background-color: #484848;
  height: 2.5rem;
  width: 100%;
  font-weight: bolder;
}


.btn-green {
  text-align: center;
  margin-top: 2rem;
  background-color: #36B1A7;
  border: #36B1A7 solid 1px;
  color: white;
  height: 2.5rem;
  width: 100%;
  font-weight: bolder;
}

.no-display-dropbox {
  display: none;
}

.display-dropbox {
  margin-top: 1rem;
  border: 1px solid gray;
}

li {
  list-style-type : none;
  padding-left: 0.5rem;
}

.underline {
  text-decoration: underline;
}

ul {
  padding-left: 0;
  margin-top: 0.5rem;
}